* 
{
  margin:0;
  padding:0;
  overflow:hidden;
  font-family:stampwriter;
}

body
{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
    background:url(src/image12.png) no-repeat center;
    background-size:cover;
}

@font-face
{
	font-family:ubuntuFS;
	src:url(fonts/ubuntu-text.ttf);
}

@font-face
{
	font-family:stampwriter;
	src:url(fonts/stampwriter.ttf);
}

.menu
{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;

}

.options
{
	cursor:pointer;
	transition:1s;
	text-align:center;
}

.options:hover
{
	font-size:20px;
}

.mobile-containerA
{
	width:100vw;
	height:100vh;
	display:flex;
	background:
	url(src/image7.png) no-repeat center, /*background*/
	url(src/image7.gif) no-repeat center, /*music*/
	url(src/image10.png) no-repeat center, /*tv*/
	url(src/image13.gif) no-repeat center fixed, /*channel*/
	url(src/image14.gif) no-repeat center fixed; /*zep*/
	
	background-size:
		cover,
		90px 90px,
		80px 70px,
		90px 70px,
		80px 100px;
	background-position: /*el primer valor mueve horizontal y el segundo vertical*/
    	center center,
		20% 92%,
		70% 100%,
		85% 93%, 
		100px 12%; 
    	
	animation: 6s logo infinite alternate;
	opacity:0.8;
}

@keyframes logo
{
  100%
  	{ 
    background-position: /*el primer valor mueve horizontal y el segundo vertical*/
		center center,
		20% 92%,
		70% 100%,
		85% 93%,
		250px 12%;
	}
  }

a
{
	font-size:10px;
	color:#00bcd5;
	text-decoration:none;
}

@media (orientation:landscape){body{flex-direction:column;}}
@media (orientation: portrait){body{flex-direction:column;}} 