* 
{
  margin:0;
  padding:0;
  overflow:hidden;
  font-family:ubuntuFS;
}

body
{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	background:#1d2939;
	flex-direction:column;
	justify-content:center;
}

@font-face
{
	font-family:ubuntuFS;
	src:url(fonts/ubuntu-text.ttf);
}

.mobile-containerA
{
	width:100vw;
	display:flex;
	color:#fff;
	align-items:center;
	flex-direction:column;
	justify-content:center;
}

.mobile-containerB
{
	width:100vw;
	height:10vh;
	padding-top:30px;
	display:flex;
	color:#fff;
	align-items:center;
	flex-direction:column;
	justify-content:center;
}

img
{
	height:auto;
	max-width:100%;
}

#backGR
{
	width:200px; 
	height:200px;
	display:flex;
	border-radius:100%;
	background:
	url(src/image1.gif) no-repeat, /*man*/
	url(src/image5.png) no-repeat, /*satellite*/
	url(src/image3.png) no-repeat, /*planet*/
	url(src/image6.png) repeat-x;  /*stars*/
	background-size:
		100px 150px,
		70px 70px,
		60px 50px,
		120px 150px;
	background-position:  
    	center center,
    	300px 110%,
    	center right,
    	center right;
	animation: 6s logo infinite alternate;
}

@keyframes logo
{
  100%
  	{ 
    background-position: 
		center center,
		-120px 90%,
		center left,
	 	-500px 100%;
	}
  }

#loaderI, #loaderE
{ 
	z-index:1;
  	width:220px;
  	height:220px;
	display:flex;
	position:absolute;
	border-radius:100%;
	align-items:center;
	justify-content:center;
	background:rgba(0, 0, 0, 0.1);
  	animation:loaderI 8s linear infinite;
} 

#loaderE
{ 
	
  	width:220px;
  	height:220px;
  	border:14px solid #0a0b0a;
  	border-top:14px solid rgba(256, 256, 256, 0.7);
  	animation:loaderI 2s linear infinite;
} 

@keyframes loaderI
{
  0%{transform: rotate(0deg);} 100%{transform: rotate(360deg);}
}

.title
{	color:#fff;
	font-size:27px;
}

.text
{	
	font-size:13px;
	color:#ede1c9;
	letter-spacing:2px;
}

@media (orientation:landscape){body{flex-direction:column;}}
@media (orientation: portrait){body{flex-direction:column;}} 



